body {
  margin: 0;
}
p,
a,
h1,
h2,
h4,
button,
span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}
.headline {
  background-color: rgb(138, 45, 100);
  text-align: center;
  align-content: center;
  height: 2.2rem;
  color: white;
  font-weight: 100;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu {
  display: flex;
  gap: 20px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 11px;
}
.menu :hover {
  scale: 1.1;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
}
article {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  border-radius: 9px;
  padding: 1rem;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
h1 {
  color: #020202;
  font-size: 2.5rem;
  font-weight: 200;
  margin-left: 1rem;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: 1rem;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  text-align: center;
  margin: 1rem;
}
#catlistecontainer {
  margin-bottom: 10rem;
}
#catlistecontainer a {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(2, 2, 2);
  padding: 1rem;
  margin: 2rem;
}
#catlistecontainer :hover {
  scale: 1.05;
  border-color: #868686;
  background-color: #922e68;
  color: rgb(255, 255, 255);
}

h4 {
  color: white;
  font-weight: 300;
  padding: 2px;
  font-size: 30px;
  padding-top: 18px;
  padding-left: 1.6rem;
}
footer p {
  font-size: 20px;
}
footer div {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  padding-left: 1.6rem;
}
#newsletter {
  padding: 0.5rem;
  width: 13rem;
  border: 1px solid black;
  align-items: center;
  font-size: 17px;
  color: rgb(95, 95, 95);
}
#newsletter:hover {
  scale: 1.1;
}
footer {
  background-color: rgb(138, 45, 100);
  height: 19rem;
  margin-top: 30rem;
}
.udsolgt {
  filter: grayscale(2);
}
a {
  color: rgb(95, 95, 95);
  background-color: white;
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 18px;
  text-align: center;
  padding-bottom: 1rem;
}
#backbutton {
  border: 1px solid #5d5d5d;
  background-color: rgb(255, 254, 254);
  padding: 0.7rem;
  margin-left: 0.9rem;
  width: 100px;
  margin-bottom: 1.5rem;
}
#backbutton:hover {
  scale: 1.1;
}
.tilbud {
  background-color: #922e68;
  position: absolute;
  top: 0.5rem;
  color: white;
  right: 1.3rem;
  padding: 0.5rem;
  rotate: 20deg;
}
.nupris {
  background-color: rgb(255, 255, 255);
}
#filtre {
  gap: 10px;
  background: white;
  display: flex;
}
#filtre :hover {
  scale: 1.1;
}
#filtre button {
  border: 1px solid #5d5d5d;
  background-color: rgb(255, 254, 254);
  padding: 0.7rem;
  margin-left: 0.9rem;
  width: 100px;
}
#filtre span {
  font-size: 18px;
  margin-left: 0.7rem;
  margin-top: 0.6rem;
}
#sortering {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}
#sortering button {
  border: 1px solid #922e68;
  border-radius: 100px;
  color: white;
  background-color: #922e68;
  padding: 0.7rem;
  margin-left: 0.9rem;
  width: 100px;
}
#sortering button:hover {
  background-color: #fffeff;
  color: rgb(0, 0, 0);
}
